/* Bases */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
}

h2 {
    color: #222626;
    font-size: 35px;
    line-height: 24px;
    font-weight: 300;
}

p {
    color: #959595;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

.test { border: 1px solid black;}

.npr {
    padding: 0;
    
}

/* Layout */
.container {
   width: 1230px;
}

/* Modules */
/* Header */
.header {
    padding-top: 56px;
    /*padding-bottom: 385px;*/
    
    color: #fff;
    
    background: url(img/bg-section-1.jpg) center top repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-headline {
    margin-top: 355px;
}

.header-headline-line {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.header-image {
    margin-top: 175px;
    padding-left: 60px;
    max-height: 733px;
}

.header-image-iphone {}

/* Section: Description */
.description {padding: 60px 0 90px 0;}

.description-title {margin-bottom: 40px;}

.description-p {

}

.description-p2 {padding-top: 100px;}

.featured-content {
    padding-bottom: 100px;
    
    color: #fff;
    
}

.featured-content-box {
    height: 280px;
    padding: 30px 60px 40px 40px;
}


.featured-content-title {
    font-size: 30px;
    font-weight: 300;
}

.featured-content-line {
    display: block;
    height: 70px;
    margin-top: 15px;
    
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.featured-content-link {
    display: block;
    margin-top: 40px;
    
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.featured-content-arrow {
    display: inline-block;
    margin-left: 15px;
}

.featured-content-heart {
    font-size: 18px;
    text-align: right;
    /*
    position: relative;
    top: -10px;
    left: 295px;
    */
}

.featured-content-box-b1 {
    background-color: #f5989d;
}

.featured-content-box-b2 {
    background-color: #615f7d;
}

.featured-content-box-b3 {
    background-image: url(img/our-clients.jpg);
    background-position: right;
    -moz-background-size: 120%;
    -o-background-size: 120%;
    -webkit-background-size: 120%;
    background-size: 120%;
}

.featured-content-box-b4 {
    background-image: url(img/sign-up.jpg);
    background-position: 0 -160px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.featured-content-box-b5 {
    background-color: #82ca9c;
}


.details {
    margin-bottom: 160px;
}


.details-title {
    margin-bottom: 70px;
}

.details-subtitle {
    margin-bottom: 30px;
    
    color: #67676d;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
}
